module = collector
module-str = collector

UINT8_MAX := 255
UINT16_MAX := 65535
UINT32_MAX := 4294967295

source "drivers/gpio/Kconfig"
source "drivers/serial/Kconfig"
source "drivers/console/Kconfig"
